In [1]:
import numpy as np

In [2]:
np

In [3]:
array1 = np.array([1, 2, 3])

In [4]:
array1

array([1, 2, 3])

In [5]:
type(array1)

numpy.ndarray

In [6]:
array1.shape

(3,)

In [7]:
array2 = np.array([[1, 2, 3], [2, 3, 4]])

In [8]:
type(array2)

numpy.ndarray

In [9]:
shape(array2)

NameError: name 'shape' is not defined

In [10]:
array2.shape

(2, 3)

In [11]:
array1.ndim

1

In [12]:
array2.ndim

2

In [13]:
array1.dtype

dtype('int64')

In [14]:
array3 = np.array([1, 2, 3.0])

In [15]:
array3

array([1., 2., 3.])

In [16]:
array3.dtype

dtype('float64')

In [17]:
array_int = np.array([1, 2, 3])

In [18]:
array_float = array_int.astype('float64')

In [19]:
array_float

array([1., 2., 3.])

In [20]:
array_int

array([1, 2, 3])

In [21]:
sequence_array = np.arrange(10)

AttributeError: module 'numpy' has no attribute 'arrange'

In [22]:
sequence_array = np.arange(10)

In [23]:
sequence_array

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [24]:
sequence_array[3]

3

In [25]:
zero_array = np.zeros((3, 2))

In [26]:
zero_array

array([[0., 0.],
       [0., 0.],
       [0., 0.]])

In [27]:
zero_array = np.zeros((3, 2), dtype = 'int64')

In [28]:
zero_array

array([[0, 0],
       [0, 0],
       [0, 0]])

In [29]:
one_array = np.ones((3, 2))

In [30]:
one_array

array([[1., 1.],
       [1., 1.],
       [1., 1.]])

In [31]:
one_array = np.ones((3, 2), dtype = 'int64')

In [32]:
one_array.dtype

dtype('int64')

In [33]:
one_array.shape

(3, 2)

In [34]:
array1 = np.arange(10)

In [35]:
array1.reshape(2, 5)

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9]])

In [36]:
array1.reshape(1, 10)

array([[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]])

In [37]:
array1.reshape(1, 1, 1, 10)

array([[[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]]]])

In [38]:
array1.reshape(10, 1)

array([[0],
       [1],
       [2],
       [3],
       [4],
       [5],
       [6],
       [7],
       [8],
       [9]])

In [39]:
array1.reshape(-1, 5)

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9]])

In [40]:
array1 = np.arange(8)

In [41]:
array3d = array1.reshape(2, 2, 2)

In [42]:
array3d

array([[[0, 1],
        [2, 3]],

       [[4, 5],
        [6, 7]]])

In [43]:
array3d.tolist()

[[[0, 1], [2, 3]], [[4, 5], [6, 7]]]

In [44]:
array5 = array3d.reshape(-1, 1)

In [45]:
array5

array([[0],
       [1],
       [2],
       [3],
       [4],
       [5],
       [6],
       [7]])

In [46]:
array6 = array3d.reshape(1)

ValueError: cannot reshape array of size 8 into shape (1,)

In [47]:
array6 = array3d.reshape(-1)

In [48]:
array6

array([0, 1, 2, 3, 4, 5, 6, 7])

In [49]:
array6 = array3d.reshape(-1, 1)

In [50]:
array1d = np.arange(start = 1, stop = 10)

In [51]:
array1d

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [52]:
array3d = array1d.reshape(3, 3)

In [53]:
array3d

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [54]:
array3d[0, 0]

1

In [55]:
array3d[0][0]

1

In [56]:
array3d[1, 0]

4

In [57]:
array3d[2, 0]

7

In [58]:
import time

In [59]:
a

NameError: name 'a' is not defined

In [60]:
time.now()

AttributeError: module 'time' has no attribute 'now'

In [61]:
time.strftime('%c', time.localtime(time.time()))

'Sat May 29 10:38:49 2021'

In [62]:
#breaktime

In [63]:
array1 = np.arange(10)

In [64]:
array1

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [65]:
array3 = array1[0:3]

In [66]:
array3

array([0, 1, 2])

In [67]:
array[:#]

SyntaxError: unexpected EOF while parsing (<ipython-input-67-35e51baaf253>, line 1)

In [68]:
array[:3]

NameError: name 'array' is not defined

In [69]:
array1[:3]

array([0, 1, 2])

In [70]:
array1[3:]

array([3, 4, 5, 6, 7, 8, 9])

In [71]:
array1[:]

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [72]:
array3d = np.arange(start = 1, stop = 10).reshape(3, 3)

In [73]:
array3d

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [74]:
array3d[:2, :2]

array([[1, 2],
       [4, 5]])

In [75]:
array3d[:2, :1]

array([[1],
       [4]])

In [76]:
array3d[1:, 2:]

array([[6],
       [9]])

In [77]:
array3 = array1d[array>5]

NameError: name 'array' is not defined

In [78]:
array1d = np.arange(10)

In [79]:
array3 = array1d[array1d>5]

In [80]:
array3

array([6, 7, 8, 9])

In [81]:
array1d>5

array([False, False, False, False, False, False,  True,  True,  True,
        True])

In [82]:
array1d==3

array([False, False, False,  True, False, False, False, False, False,
       False])

In [83]:
array1d>2 and array1d<8

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()

In [84]:
a.any(array1d>2, array1d<3)

NameError: name 'a' is not defined

In [85]:
org_array = np.array([4, 2, 6, 1])

In [86]:
np.sort(org_array)

array([1, 2, 4, 6])

In [87]:
org_array.sort()

In [88]:
org_array

array([1, 2, 4, 6])

In [89]:
org_array[::-1]

array([6, 4, 2, 1])

In [90]:
array2d = np.array([[8, 12], [7, 1]])

In [91]:
array2d

array([[ 8, 12],
       [ 7,  1]])

In [1]:
np.sort(array2d, axis = 0)

NameError: name 'np' is not defined

In [2]:
import numpy as np

In [3]:
np.sort(array2d, axis = 0)

NameError: name 'array2d' is not defined

In [4]:
array2d = np.array([[8, 12], [7, 1]])

In [5]:
np.sort(array2d, axis = 0)

array([[ 7,  1],
       [ 8, 12]])

In [6]:
A = np.arange(start = 1, stop = 7).reshape(2, -1)

In [7]:
A

array([[1, 2, 3],
       [4, 5, 6]])

In [8]:
B = np.arange(start = 7, stop = 13).reshape(3, -1)

In [9]:
B

array([[ 7,  8],
       [ 9, 10],
       [11, 12]])

In [10]:
A.dot(B)

array([[ 58,  64],
       [139, 154]])

In [11]:
np.transpose(A)

array([[1, 4],
       [2, 5],
       [3, 6]])

In [12]:
A.transpose()

array([[1, 4],
       [2, 5],
       [3, 6]])

In [13]:
import pandas as pd

In [14]:
pd

In [15]:
pd

In [16]:
a=3

In [17]:
a

3

In [18]:
titanic_df = pd.read_csv(r'/data/train.csv')

FileNotFoundError: [Errno 2] No such file or directory: '/data/train.csv'

In [19]:
titanic_df = pd.read_csv(r'data\train.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'data\\train.csv'

In [20]:
titanic_df = pd.read_csv(r'data/train.csv')

In [21]:
titanic_df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [22]:
titanic_df.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [23]:
titanic_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [24]:
titanic_df.shape

(891, 12)

In [25]:
type(titanic_df)

pandas.core.frame.DataFrame

In [26]:
titanic_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [27]:
titanic_df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [28]:
import numpy as np

In [29]:
titanic_df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [30]:
dir(titanic_df)

['Age',
 'Cabin',
 'Embarked',
 'Fare',
 'Name',
 'Parch',
 'PassengerId',
 'Pclass',
 'Sex',
 'SibSp',
 'Survived',
 'T',
 'Ticket',
 '_AXIS_LEN',
 '_AXIS_NAMES',
 '_AXIS_NUMBERS',
 '_AXIS_ORDERS',
 '_AXIS_REVERSED',
 '_AXIS_TO_AXIS_NUMBER',
 '__abs__',
 '__add__',
 '__and__',
 '__annotations__',
 '__array__',
 '__array_priority__',
 '__array_wrap__',
 '__bool__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__div__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdiv__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_add_numeric_operations',
 '_add_series_or_dataframe_operations',
 '_agg_by_level',
 '_agg_examples_doc',
 '_agg_summary_and_see_also_doc',
 '_aggregate',
 '_aggregate_multiple_funcs',
 '_align_frame',
 '_align_series',
 '_box_col_values',
 '_builtin_table',
 '_can_fast_transpose',
 '_check_inplace_setting',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_combine_frame',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_axes_from_arguments',
 '_construct_result',
 '_constructor',
 '_constructor_expanddim',
 '_constructor_sliced',
 '_convert',
 '_count_level',
 '_cython_table',
 '_data',
 '_deprecations',
 '_dir_additions',
 '_dir_deletions',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_ensure_valid_index',
 '_find_valid_index',
 '_from_arrays',
 '_get_agg_axis',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cacher',
 '_get_cleaned_column_resolvers',
 '_get_column_array',
 '_get_cython_func',
 '_get_index_resolvers',
 '_get_item_cache',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_value',
 '_getitem_bool_array',
 '_getitem_multilevel',
 '_gotitem',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_info_repr',
 '_init_mgr',
 '_internal_names',
 '_internal_names_set',
 '_is_builtin_func',
 '_is_cached',
 '_is_copy',
 '_is_homogeneous_type',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_view',
 '_iset_item',
 '_iter_column_arrays',
 '_ix',
 '_ixs',
 '_join_compat',
 '_maybe_cache_changed',
 '_maybe_update_cacher',
 '_metadata',
 '_needs_reindex_multi',
 '_obj_with_exclusions',
 '_protect_consolidate',
 '_reduce',
 '_reindex_axes',
 '_reindex_columns',
 '_reindex_index',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_replace_columnwise',
 '_repr_data_resource_',
 '_repr_fits_horizontal_',
 '_repr_fits_vertical_',
 '_repr_html_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_sanitize_column',
 '_selected_obj',
 '_selection',
 '_selection_list',
 '_selection_name',
 '_series',
 '_set_as_cached',
 '_set_axis',
 '_set_axis_name',
 '_set_is_copy',
 '_set_item',
 '_set_value',
 '_setitem_array',
 '_setitem_frame',
 '_setitem_slice',
 '_slice',
 '_stat_axis',
 '_stat_axis_name',
 '_stat_axis_number',
 '_take_with_is_copy',
 '_to_dict_of_blocks',
 '_try_aggregate_string_function',
 '_typ',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'append',
 'apply',
 'applymap',
 'asfreq',
 'asof',
 'assign',
 'astype',
 'at',
 'at_time',
 'attrs',
 'axes',
 'backfill',
 'between_time',
 'bfill',
 'bool',
 'boxplot',
 'clip',
 'columns',
 'combine',
 'combine_first',
 'compare',
 'convert_dtypes',
 'copy',
 'corr',
 'corrwith',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'eval',
 'ewm',
 'expanding',
 'explode',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'floordiv',
 'from_dict',
 'from_records',
 'ge',
 'get',
 'groupby',
 'gt',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'info',
 'insert',
 'interpolate',
 'isin',
 'isna',
 'isnull',
 'items',
 'iteritems',
 'iterrows',
 'itertuples',
 'join',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lookup',
 'lt',
 'mad',
 'mask',
 'max',
 'mean',
 'median',
 'melt',
 'memory_usage',
 'merge',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pad',
 'pct_change',
 'pipe',
 'pivot',
 'pivot_table',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'query',
 'radd',
 'rank',
 'rdiv',
 'reindex',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'select_dtypes',
 'sem',
 'set_axis',
 'set_index',
 'shape',
 'shift',
 'size',
 'skew',
 'slice_shift',
 'sort_index',
 'sort_values',
 'squeeze',
 'stack',
 'std',
 'style',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dict',
 'to_excel',
 'to_feather',
 'to_gbq',
 'to_hdf',
 'to_html',
 'to_json',
 'to_latex',
 'to_markdown',
 'to_numpy',
 'to_parquet',
 'to_period',
 'to_pickle',
 'to_records',
 'to_sql',
 'to_stata',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tz_convert',
 'tz_localize',
 'unstack',
 'update',
 'value_counts',
 'values',
 'var',
 'where',
 'xs']

In [31]:
titanic_df.Age

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64

In [32]:
np.average

In [33]:
np.average(np.array[1, 0, 3])

TypeError: 'builtin_function_or_method' object is not subscriptable

In [34]:
np.average(np.array([1, 0, 3]))

1.3333333333333333

In [ ]:
omega